@import url(sec-games.css);
@import url(sec-animes.css);


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor01: #FBF9FF;
    --cor02: #788BFF;
    --cor03: #5465FF;
    --cor04: #68A691;
    --cor05: #0A0F0D;

}

/*-----------------------------Header------------------------------*/

#header {
    max-width: 96rem;
    height: 3.5rem;
    margin: 0 auto;
    
}

.sec-header {
    height: inherit;
    background-color: orange;
}

.menu {
    height: inherit;
}

.menu > ul {
    display: flex;
    justify-content: space-evenly;
    height: inherit;
    align-items: center;
    
    
}

.nav-li {
    list-style: none;
    
}

.nav-li > a {
    text-decoration: none;

}


/*-----------------------------Main--------------------------------*/

main {
    max-width: 96rem;
    margin: 0 auto;
    
}

.main-upper {
    width: inherit;
    height: 30rem;
    background-color: aquamarine;
}

.main-down {
    width: inherit;
    height: 100rem;
    display: flex;

}

.md-left {
    width: 75vw;
    height: inherit;
}


#e-sports {
    width: 100%;
    height: 25%;
    background-color: magenta;

}

#eventos {
    width: 100%;
    height: 25%;
    background-color: azure;

}



.md-right {
    width: 25vw;
    height: inherit;
    background-color: blue;
}

#reviews {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 200px;
    height: 100px;
    background-color: coral;
}


/*-----------------------------Footer------------------------------*/

footer {
    max-width: 96rem;
    height: 10rem;
    
    margin: 0 auto;
}
