@use '../mixins/display-flex.scss' as display;
@use '../variaveis/medias.scss' as screen;
@use '../variaveis/colors.scss';

header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    background-color: colors.$color03;

    .container {
        display: grid;
        grid-template-columns: 1fr 3.5fr;
        padding: 16px 0;
        background-color: green;
        
        .branding {
            margin: auto;
        }

        nav {
            .menu {
                height: 100%;
                @include display.flex-around-center;
                
                a {
                    text-align: center;
                    margin: auto;
                    text-decoration: none;
                    color: colors.$color01;
                    padding: 0.6rem;
                    border-radius: 15px;
                    transition: all 0.4s;

                    &:hover {
                        color: colors.$color04;
                        background-color: darken(colors.$color01, 3%);
                    }
                }
            }
        }
    }

    @media #{screen.$tablet} {
        .container {
            display: block;

            .branding {
                display: none;
            }

            .menu > li > a {
                font-size: 1.5rem;
            }
        }
    }

    @media #{screen.$mobile} {
        .container {
            display: block;

            .branding {
                display: none;
            }
        }
    }
}   