@use '../variaveis/medias.scss' as screen;
@use '../componentes/product-button.scss' as btn;
@use '../variaveis/colors.scss';

.product-item {  
    cursor: pointer;

    img {
        width: 100%;
        border-radius: 1rem;
    }

    h4 {
        color: colors.$color03;
        font-size: 1rem;
        padding: 3% 0;
        transition: all 0.3s ;

        &:hover {
            color: lighten(colors.$color03, 15%);
        }
    }

    p {
        color: colors.$color04;
    }
}    