@use '../mixins/display-flex.scss' as display;
@use '../mixins/display-grid.scss' as grid;
@use '../variaveis/medias.scss' as screen;
@use '../componentes/product-item.scss';
@use '../variaveis/colors.scss';

main {
    section {
        margin-bottom: 5%;

        h2 {
            font-weight: 700;
            font-size: 1.2rem;
            padding: 3% 0%;
            color: colors.$color04;
        }

        .products {
            @include grid.grid-templete; 
            width: 100%;

            @media #{screen.$tablet} {
                @include grid.grid-templete-md;
                display: block;
            }

            @media #{screen.$mobile} {
                @include grid.grid-templete-sm;
                display: block;
            }

        } 
    }  
}   