

@mixin grid-templete {
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
}

@mixin grid-templete-md {
    display: grid;
    grid-template-columns: repeat(2, 49.5%);
    column-gap: 1%;
    row-gap: 4%;
}

@mixin grid-templete-sm {
    display: grid;
    grid-template-columns: 98%;
    column-gap: 1%;
    row-gap: 4%;
}      