* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: synthwave;

}

:root {

    --cor01: #18095E;
    --cor02: #3A29B3;
    --cor03: #0B3BCF;
    --cor04: #49B3F8;
    --cor05: #69EEF9;
    --cor06: #AAECFA;
    --cor07: #561679;
    --cor08: #EC4ED2;
    --cor09: #FFFFFF;
}

@font-face {
    font-family: synthwave;
    src: url(fonts/alien_encounters/Alien-Encounters-Bold-Italic.ttf);
}

.main-container {
    display: flex;

}

.left-section {
    width: 65vw;
    height: 100vh;

}

.img {
    width: 65vw;
    height: 100vh;
}



.right-section {
    width: 35vw;
    height: 100vh;
    background-color: var(--cor01);
    border-radius: 0px 0px 30px 0px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.rs-head {
    width: 100%;
    height: 30vh;
    background-color: #561679;
}

.rs-head-up{
    color: var(--cor05);
    font-size: 3.5rem;
    
}

.rs-head-down {
    color: var(--cor04);
    font-size: 3.5rem;
    margin-top: 2rem;
}


/*                             Section Login                     */

.rs-body {
    width: 100%;
    height: 70vh;
    background-color: var(--cor01);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #1A0A63, #3B27A6,#6F5CDE, #7A0BCF );
    background-size: 200%;
}



.login-container {
    width: 100%;
    height: 100%;
    text-align: center;
    
}

.login-head {
    color: var(--cor05);
    margin-top: 5rem;
}

.login-body {
    color: var(--cor08);
    display: inline;
    font-size: 0.9rem;


}

.lb-left-a {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--cor08);
}

.lb-h3 {
    padding-right: 22%;
    margin-top: 5%;
}

.lb-h3-email {
    padding-right: 28%;
    margin-top: 5%;
}

.input-lb {
    width: 40%;
    height: 6%;
    background-color: var(--cor06);
    margin-top: 1.5%;
}

.lb-left {
    padding-left: 4.3rem;
    margin-top: 0.1rem;
}

.btn {
    width: 30%;
    height: 5%;
    border-radius: 1rem;
    margin-top: 1.5rem;
    color: var(--cor09);
    background-color: var(--cor05);
    border-style: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    width: 35%;
    height: 10%;
    background-color: var(--cor07);
    color: var(--cor06);
}

.lb-h3-ft-a {
    color: var(--cor06);
    text-decoration: none;
    
}

.lb-h3-ft {
    margin-top: 1rem;
    font-size: 0.8rem;
    
}
